<div class="resume-body">
    <div class="row">
        <div class="col-md-6 right-col">
            <div class="row">
                <div class="name-wrapper"><b class="first-name">Jeffrey</b><b class="last-name">Fei</b></div>
            </div>
            <div class="row info-row">
                <ul class="info-list"> 
                    <li><i class="fa fa-graduation-cap leading-icon" style="margin-right: 10px"></i>Software Engineering, University of Waterloo</li>
                    <li><a href="mailto:jzffei@uwaterloo.ca"><i class="fa fa-envelope leading-icon" aria-hidden="true" style="margin-left:2px;"></i>jzffei@uwaterloo.ca</a></li>
                    <li><a href="https://github.com/jeffreyfei" target="_blank"><i class="fa fa-github leading-icon" aria-hidden="true" style="margin-left:3px;"></i>github.com/jeffreyfei</a></li>
                    <li><a href="www.jeffreyfei.com" target="_blank"><i class="fa fa-home leading-icon" aria-hidden="true" style="margin-left:3px;"></i>jeffreyfei.com</a></li>
                    <li><i class="fa fa-phone leading-icon" aria-hidden="true" style="margin-left:4px;"></i>519-591-6060</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 tech-col">
            <div class="info-list-header">Languages/Technologies</div>
            <ul class="info-list tech-list">
                <li><i class="fa fa-code leading-icon" aria-hidden="true"></i>AngularJS, CSS, HTML</li>
                <li><i class="fa fa-database leading-icon" aria-hidden"true" style="margin-left:4px;margin-right:17px;"></i>Node.js, Redis</li>
                <li><i class="fa fa-desktop leading-icon" aria-hidden"true" style="margin-left:3px;"></i>Java, Python, C++, C</li>
                <li><i class="fa fa-wrench leading-icon" aria-hidden="true" style="margin-left:5px;"></i>AngularUI Bootstrap, Git</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 right-col">
            <div class="col-header"><i class="fa fa-briefcase cat-leading-icon"></i>Experience</div>
            <div class="col-md-12">
                <div class="sub-col-header">Software Engineer Co-op | EMC</div>
                <div class="date">May 2016 - Aug 2016</div>
                <b>Prescan Dashboard</b> 
                <div>
                    <p><div>
                    </div>
                    <div class="content-block">
                        Implemented <b>AngularJS</b> and <b>AngularUI Bootstrap</b> to build a user-friendly web interface displaying montly build reports with advanced filtering functionalities 
                    </div>
                    <div class="content-block">
                        Constructed <b>Node.js</b> backend integrated with data-mining capabilities which not only supports a dynamic frontend interface but also enables automated file upload from build machines using its REST API
                    </div></p>
                </div> 
                <b>Outstanding Owner Issues Audit</b>
                <div>
                    <p><div> 
                        <div class="content-block">
                            Server-side command line tool created by <b>Python</b> to automate user reassiginments over the Coverity static analysis platform
                        </div> 
                        <div class="content-block">
                            Reassigned issue reports owned by inactive users by cross referencing Coverity user data and corporate LDAP server using Coverity <b>SOAP API</b>
                        </div>
                    </div></p>
                </div>
                <b>Coverity-Bugzilla Cross Reference</b>
                <div>
                    <p><div>
                        <div class="content-block">
                            Server-side <b>Python</b> script that enables communication between Coverity and Bugzilla by utilizing the Coverity <b>SOAP API</b> and Bugzilla <b>XMLRPC Web Service</b>
                        </div>
                        <div class="content-block">
                            Identifies the corresponding Bugzilla reports of newly detected issues queried from Coverity by data-mining the Perforce change history
                        </div>   
                        <div class="content-block">
                            Automatically updates Bugzilla reports by utilizing its <b>XMLRPC Web Service</b> with data acquired from Coverity
                        </div>
                    </div></p>
                </div>
                <b>Purify-Coverity Importer</b>
                <div>
                    <p><div> 
                        <div class="content-block">
                            Server-side <b>Python</b> script that performs data-mining on logs produced by the Purify dynamic analysis platform to the Coverity web interface
                        </div> 
                        <div class="content-block">
                            Enabled easy access to software issue reports produced by two analytic process on a single platform
                        </div>
                    </div></p>
                </div>
                <div class="sub-col-header">Full Stacks Development | Aerodrifting Systems</div>
                <div class="date">Jul 2016 - Aug 2016</div>
                <b>Retails Website</b>
                <div>
                    <p><div> 
                        <div class="content-block">
                            Utilized <b>AngularJS</b> and <b>AngularUI Bootstrap</b> to build a customer-oriented retail interface that works in correlation with its ebay store to provide the guest with an improved shopping experience
                        </div> 
                        <div class="content-block">
                            Implemented customer review and purchase request system using a <b>Node.js</b> backend with a Redis database
                        </div>
                    </div></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-header"><i class="fa fa-code-fork cat-leading-icon"></i>Projects</div>
            <div class="col-md-12">
                <div class="sub-col-header">Personal Website</div>
                <div class="date">Aug 2016 - Present</div>
                <div>
                    <p><div> 
                        <div class="content-block">
                            Implemented <b>AngularJS</b> to build a dynamic online platform to share my academic resources and advertise my coding career
                        </div> 
                        <div class="content-block">
                            Improved user friendliness by designing a responsive web interface using front-end styling technologies such as <b>AngularUI Bootstrap</b> and <b>AngularStrap</b>
                        </div> 
                    <div class="content-block">
                            Built a <b>Node.js</b> backend using the <b>Express</b> framework to handle file uploads and comments which allows users to contribute to the content of the website
                        </div>
                    </div></p>
                </div>
                <div class="sub-col-header">Wat Product (IBM Watson Developer Challenge)</div>
                <div class="date">Jan 2016 - Feb 2016</div>
                <div>
                    <p><div> 
                        <div class="content-block">
                            Web Application that rates a product using keyword extraction and sentiment analysis
                        </div> 
                        <div class="content-block">
                            Utilized the <b>Watson Alchemy API</b> in <b>Node.js</b> to fetch and analyze the sentiment of news and review articles to generate an accurate rating from public opinions
                        </div>
                    </div></p>
                </div>
                <div class="sub-col-header">PT Now</div>
                <div class="date">Dec 2013 - Sep 2015</div>
                <div>
                    <p><div>
                        <div class="content-block">
                            Designed in <b>Java</b> to display auto-synchronized time, date, and class schedule on Pinetree Secondary School television screens
                        </div> 
                        <div class="content-block">
                            Implemented the <b>Java Swing library</b>, basic multi-threaded programming, and exception handling to create a dynamic desktop GUI interface
                        </div>
                    </div></p>
                </div>
                <div class="sub-col-header">Mayo (Engineering Hackathon)</div>
                <div class="date">Oct 2015</div>
                <div>
                    <p><div> 
                        <div class="content-block">
                            Painting software with interactive GUI designed using the <b>Java Swing Library</b> that displays the user gesture input detected by the Myo armband on the canvas
                        </div>
                        <div class="content-block">
                            Applied the gesture identification functionality using the <b>Myo API</b> for features such as painter, colour changer, pen size, and eraser
                        </div>
                    </div></p>
                </div>
                <div class="sub-col-header">PolyCalc</div>
                <div class="date">Dec 2014 - Apr 2015</div>
                <div>
                    <p><div>
                        <div class="content-block">
                            Root finder that allows user to solve polynomial equations on any Android smartphone
                        </div>
                        <div class="content-block">
                            Developed an Android GUI with integrated calculator keypad using <b>Android SDK</b>
                        </div>
                    </div></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-header"><i class="fa fa-book cat-leading-icon" style="margin-left:10px;"></i>Relevant Courses</div>
        <div class="row class-row">
            <div class="col-md-6">
                <div class="sub-col-header">CS 137 | Programming Principles</div>
                <div class="date">Fall 2015</div>
                <div class="content-block">
                    <p><div>
                        C basics, Arrays, Recursions, String Manipulation, Structures, Dynamic Memory
                    </div></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-col-header">CS 138 | Data Abstraction and Implementation</div>
                <div class="date">Winter 2016</div>
                <div class="content-block">
                    <p><div>
                        C++ basics, Abstract Data Types, OOP, Software Engineering and Design
                    </div></p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row" align="center">
        <a ng-href="/public/Resume.pdf" target="_blank">
            <div class="info-button-invert pdf-btn">
                <i class="fa fa-file-pdf-o">
                </i>
            </div>
        </div>
    <br><br>
    </div>
</div>
