<div class="resume-body">
    <div class="container">
        <div class="row">
            <div class="col-md-6 right-col">
                <div class="row">
                    <div class="name-wrapper"><b class="first-name">Jeffrey</b><b class="last-name">Fei</b></div>
                </div>
                <div class="row">
                    <ul class="info-list"> 
                        <li><i class="fa fa-graduation-cap leading-icon" style="margin-right: 10px"></i>Software Engineering, University of Waterloo</li>
                        <li><a href="mailto:jzffei@uwaterloo.ca"><i class="fa fa-envelope leading-icon" aria-hidden="true" style="margin-left:2px;"></i>jzffei@uwaterloo.ca</a></li>
                        <li><a href="https://github.com/jeffreyfei"><i class="fa fa-github leading-icon" aria-hidden="true" style="margin-left:3px;"></i>github.com/jeffreyfei</a></li>
                        <li><a href="www.jeffreyfei.com"><i class="fa fa-home leading-icon" aria-hidden="true" style="margin-left:3px;"></i>jeffreyfei.com</a></li>
                        <li><i class="fa fa-phone leading-icon" aria-hidden="true" style="margin-left:4px;"></i>519-591-6060</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <br><br><br>
                <div class="info-list-header">Languages/Technologies</div>
                <ul class="info-list tech-list">
                    <li><i class="fa fa-code leading-icon" aria-hidden="true"></i>AngularJS, CSS, HTML</li>
                    <li><i class="fa fa-database leading-icon" aria-hidden"true" style="margin-left:4px;margin-right:17px;"></i>Node.js, Redis</li>
                    <li><i class="fa fa-desktop leading-icon" aria-hidden"true" style="margin-left:3px;"></i>Java, Python, C++, C</li>
                    <li><i class="fa fa-wrench leading-icon" aria-hidden="true" style="margin-left:5px;"></i>AngularUI Bootstrap, Git</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 right-col">
                <div class="col-header"><i class="fa fa-briefcase cat-leading-icon"></i>Experience</div>
                <div class="col-md-12">
                    <div class="sub-col-header">Software Engineer Co-op | EMC</div>
                    <div class="date">May 2016 - Aug 2016</div>
                    <div class="content-block">
                       gg 
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-header"><i class="fa fa-code-fork cat-leading-icon"></i>Projects</div>
            </div>
        </div>
    </div>
</div>
