<a id="top"></a>
<div class="panel-container dark-container">
    <div class="container">
        <div class="row" align="center">
            <div class="name row">
                Jeffrey Fei
            </div>
            <div class="occupation row">
                Software Engineer
            </div>
        </div>
        <hr>
        <div class="row" align="center">
            <a href="https://github.com/jeffreyfei" target="_blank">
                <div class="info-button">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                </div>
            </a>
            <a href="https://www.linkedin.com/in/jeffrey-fei-3a777a111?trk=hp-identity-name" target="_blank">
                <div class="info-button">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
            </a>
            <a href="mailto:jzffei@uwaterloo.ca">
                <div class="info-button">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="panel-container light-container">
    <skills-panel></skills-panel>
</div>
<div class="panel-container dark-container">
    <experience-panel></experience-panel>
</div>
<div class="panel-container light-container">
    <academics-panel></academics-panel>
</div>
<page-footer links="['Projects', 'Resources']"></page-footer>
