<div class="container">
    <div class="row">
        <div class="section-header row">Experience</div>
        <custom-collapsible header='{{shopInfo.header}}' sub-header='{{shopInfo.subHeader}}' details='shopInfo.details'></custom-collapsible>
        <custom-collapsible header='{{smartInfo.header}}' sub-header='{{smartInfo.subHeader}}' details='smartInfo.details'></custom-collapsible>
        <custom-collapsible header='{{emcInfo.header}}' sub-header='{{emcInfo.subHeader}}' details='emcInfo.details'></custom-collapsible>
        <custom-collapsible header='{{adSysInfo.header}}' sub-header='{{adSysInfo.subHeader}}' details='adSysInfo.details'></custom-collapsible>
        </div>
    </div>
</div>
