<div class="container">
    <div class="row">
        <div class="section-header row">Skills</div>
        <div class="cat-header row"><i class="fa fa-globe" aria-hidden="true"></i> Web</div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="AngularJS" date="2016-07"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="HTML/CSS" date="2013-01"></custom-progress>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="Node.js" date="2016-02"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="Redis" date="2016-07"></custom-progress>
                </div>
            </div>
        </div>
        <hr>
        <div class="cat-header row"><i class="fa fa-desktop" aria-hidden"true"></i> Desktop/Mobile</div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="Java" date="2013-01"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="C" date="2015-09"></custom-progress>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="C++" date="2015-12"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="Python" date="2016-07"></custom-progress>
                </div>
            </div>
        </div>
        <hr>
        <div class="cat-header row"><i class="fa fa-code-fork" aria-hidden"true"></i> Technologies</div>
        <div class="row">
             <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="Bootstrap" date="2016-01"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="Git" date="2016-02"></custom-progress>
                </div>
            </div>
        </div>
    </div>
</div>
