<div class="container">
    <div class="row">
        <div class="section-header row">Skills</div>
        <div class="cat-header row"><i class="fa fa-code" aria-hidden="true"></i> Languages</div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="Go" date="2017-09"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="Ruby" date="2017-09"></custom-progress>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="Java" date="2013-01"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="C" date="2015-09"></custom-progress>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="C++" date="2015-12"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="Python" date="2016-07"></custom-progress>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="HTML/CSS" date="2013-01"></custom-progress>
                </div>
            </div>
        </div>
        <hr>
        <div class="cat-header row"><i class="fa fa-codepen" aria-hidden="true"></i> Frameworks</div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="Rails" date="2017-09"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="scikit-learn" date="2017-11"></custom-progress>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="Node.js" date="2016-01"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="Vue.js" date="2017-01"></custom-progress>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="AngularJS" date="2016-07"></custom-progress>
                </div>
            </div>
        </div>
        <hr>
        <div class="cat-header row"><i class="fa fa-database" aria-hidden="true"></i> Database</div>
        <div class="row">
             <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="PostgreSQL" date="2017-01"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="MySQL" date="2017-09"></custom-progress>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="Redis" date="2016-07"></custom-progress>
                </div>
            </div>
        </div>
        <hr>
        <div class="cat-header row"><i class="fa fa-code-fork" aria-hidden"true"></i> Tools</div>
        <div class="row">
             <div class="col-md-5">
                <div class="row">
                    <custom-progress custom-header="Mercurial" date="2017-01"></custom-progress>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="row">
                    <custom-progress custom-header="Git" date="2016-01"></custom-progress>
                </div>
            </div>
        </div>
    </div>
</div>
