a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.panel-container {
    padding: 50px 0 70px 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    height: 100%;
    width: 100%;
}
.dark-container {
    background-color: #222;
    color: white;
}
.light-container {
    background-color: white;
    color: #222;
}
.light-container hr{
    border-top: 1px solid #222; 
}
/** Welcome Panel **/
.welcome-panel {
    padding-top: 150px;
    background-color: #080808;
    min-height: 500px;
}
.welcome-text {
    color: #0DCA00;
    font-size: 60px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-weight: 500;
}
.description-text {
    color: #0DCA00;
    font-size: 30px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-weight: 500;
}
/** Custom Navbar **/
.custom-nav > ul > li > a {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 15px 20px 15px 20px;
    letter-spacing: 1.5px;
    font-weight: 900;
    font-size: 15px;
}
.custom-nav {
    z-index: 999;
    border-color: #a33f3e;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
    padding: 0 15px 0 0;
}
/** Header Panel **/
.name {
    font-size: 70px;
}
.occupation {
    font-size: 30px;
}
.info-button, .info-button-invert {
    display: inline-block;
    margin: 5px 10px 5px 10px;
    height: 60px;
    width: 60px;
    font-size: 38px;
    border: 1.5px solid;
    border-radius: 60px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.info-button:hover {
    color: #222;
    background-color: white;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.info-button-invert:hover {
    background-color: #222;
    color:white;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
a > .info-button-invert {
    color: #222;
}
a > .info-button {
    color: white;
}
.book-button {
    margin: 9px 0 0 11px;
}
.github-button {
    margin: 5px 0 0 0;
}
.link-button {
    margin: 10px 0 0 0;
}
.chevron-button {
    padding: 4px 0 0 0;
    position: absolute;
}
/** Headers **/
.page-header {
    font-size: 50px;
}
.section-header {
    font-size: 40px;
    margin: 6px 0 10px 0;
}
.cat-header {
    font-size: 27px;
    margin-bottom: 10px;
}
.sub-header {
    margin-left: 26px;
    size: 14px;
}
.proj-date {
    size: 14px;
    margin-bottom: 10px;
}
/** Progress Bars **/
.skills-progress {
    margin-top: 4px;
}
.loading-progress {
    margin: 30px 0 30px 0;
}
.term-progress {
    margin-top: 9px;
}
.progress > .progress-bar {
    background-color: #222;
}
.progress-header {
    font-size: 20px;
}
/** Custom Collapsible **/
.clps-icon {
    top: 5px;
    margin-right: 10px;
}
.clps-header {
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.clps-header:hover {
    color: inherit;
}
.clps-list {
    list-style-type: circle;
    font-size: 18px;
}
.clps-list-header {
    font-size: 20px;
    font-weight: bold;
}
.clps-list-unstyled {
    list-style-type: none;
    font-size: 22px;
}
.clps-list-unstyled > li {
    margin-bottom: 10px;
}
.sm-clps-header {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}
.sm-clps-list {
    list-style-type: none;
    font-size: 18px;
}
.sm-clps-list > li {
    margin-bottom: 5px;
}
/** footer **/
a.footer-link {
    color: inherit;
    font-size: 16px;
}
a.footer-link:hover {
    color: inherit;
    cursor: pointer;
}
a.footer-link:hover {
    color: #787878;
}

.body-text {
    font-size: 18px;
    margin: 10px 0 20px 0;
}

hr.project-divider {
    margin: 30px 0 30px 0;
}
/* btn-row */
.btn-row {
    color: #222;
    border-color: #222;
    background-color: white;
}
.btn-row.active, .btn-row:active {
    background-color: #222;
    color: white;
    border-color: #222;
}
.btn-row.active.focus, .btn-row:active:focus {
    background-color: #222;
    color: white;
    border-color: #222;
}
.btn-row:hover {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
}
.btn-row.active:hover {
    background-color: #222;
    color: white;
    border-color: #222;
}
/* Content selector */
.content-header {
    font-size: 45px; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/*Note brief*/
.note-brief {
    border-radius: 10px;
    border: 2px solid #222;
    width: 100%;
    height: 80px;
    color: #222;
    padding: 5px 40px 0 40px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-bottom: 20px;
}
.note-brief:hover{
    border-color: #555555;
    color: #555555;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.note-brief-header {
    font-size: 30px;
}
.note-brief-date {
    font-size: 15px;
}
/* Pagination */
.pagination > li > a {
    color: #222;
    border-color: #222;
}
.pagination > li.active > a {
    background-color: #222;
    color: white;
}
.pagination > li.active:hover > a {
    background-color: #555555;
    border-color: #555555;
    cursor: pointer;
}
.pagination > li:hover > a {
    border-color: #222;
    color: #222;
}
.pagination > li.disabled > a {
    border-color: #555555;
    color: #555555;
}
.pagination > li.disabled:hover > a {
    border-color: #555555;
    color: #555555;
}
/* PDF pages */
.pdf-display {
    height: 800px;
    border: 2px solid #222;
}
.pdf-container {
    padding: 0 20px 20px 20px;
}
.pdf-header {
    font-size: 40px;
    margin: 0 0 20px 15px;
}
.pdf-btn-row {
    position: absolute;
    right: 20px;
}
.pdf-exit-btn {
    position: absolute;
    right 20px;
}
.comments-header {
    font-size: 40px;
}
/* Modal */
.review-modal {
    padding: 20px 42px 20px 42px;
}
.comment-box {
    min-height: 100px;
}
