a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.panel-container {
    padding: 50px 0 70px 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    height: 100%;
    width: 100%;
}
.dark-container {
    background-color: #222;
    color: white;
}
.light-containe {
    background-color: white;
    color: #222;
}
/** Welcome Panel **/
.welcome-panel {
    padding-top: 150px;
    background-color: #080808;
    min-height: 500px;
}
.welcome-text {
    color: #0DCA00;
    font-size: 60px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-weight: 500;
}
.description-text {
    color: #0DCA00;
    font-size: 30px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-weight: 500;
}
/** Custom Navbar **/
.custom-nav > ul > li > a {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 15px 20px 15px 20px;
    letter-spacing: 1.5px;
    font-weight: 900;
    font-size: 15px;
}
.custom-nav {
    z-index: 999;
    border-color: #a33f3e;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
    padding: 0 15px 0 0;
}
/** Header Panel **/
.name {
    font-size: 70px;
}
.occupation {
    font-size: 30px;
}
.info-button {
    display: inline-block;
    margin: 5px 10px 5px 10px;
    height: 60px;
    width: 60px;
    font-size: 38px;
    border: 1px solid;
    border-radius: 60px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.info-button:hover {
    color: #222;
    background-color: white;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
a > .info-button {
    color: white;
}
/** Headers **/
.section-header {
    font-size: 40px;
    margin: 5px 0 10px 0;
}
.cat-header {
    font-size: 27px;
    margin-bottom: 10px;
}
.sub-header {
    margin-left: 26px;
    size: 14px;
}
/** Skills panel **/
.skills-progress {
    margin-top: 4px;
}
.progress > .progress-bar {
    background-color: #222;
}
.progress-header {
    font-size: 20px;
}
/** Custom Collapsible **/
.clps-icon {
    top: 5px;
    margin-right: 10px;
}
.clps-header {
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.clps-header:hover {
    color: inherit;
}
.clps-list {
    list-style-type: circle;
    font-size: 18px;
}
.clps-list-header {
    font-size: 20px;
    font-weight: bold;
}
