.resume-body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 20px 50px 10px 50px;
    color: black;
    background-color: white;
}
.resume-img {
    margin: 20px 20px 0 0;
    width: 100%;
}
.institution-info {
    font-size: 18px;
}
.leading-icon {
    font-size: 24px !important;
    margin-right: 15px;
    vertical-align: middle;
}
.name-wrapper {
    margin-left: 28px;
    font-size: 70px;
}
.last-name {
    font-weight: 200;
    color: #BF0000;
}
.info-list {
    font-size: 16px;
    padding: 23px 5px 5px 5px;
    list-style: none;
}
.info-list > li {
    margin-bottom: 6px;
}
.info-list > li > a {
    color: black;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.info-list > li:hover > a {
    color: #4D4D4D;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.info-row {
    margin-left: 10px;
}
.tech-col {
    margin-left: 11px;
}
.tech-list > li {
    margin-bottom: 18px;
}
.info-list-header {
    margin-top: 68px;
    font-weight: 700;
    font-size: 20px;
}
div.right-col {
    border-right: 1px solid #909090;
}
.col-header {
    padding-left: 15px;
    font-weight: 700;
    font-size: 28px;
}
.cat-leading-icon {
    margin-right: 15px;
    vertical-align: center;
}
.sub-col-header {
    font-size: 18px;
    margin: 5px 0 1px 0;
}
.date {
    font-size: 12px;    
    margin: 0 0 8px 0;
}
.content-block {
    padding-left: 12px;
    border-left: 5px solid #909090;
    margin-bottom: 8px;
}
.content-block:hover {
    border-color: #222;
}
.class-row {
    margin-left: 13px;
}
.pdf-btn {
    padding: 3px 0 0 2px;
    font-size: 35px;
}
