<a id="top"></a>
<div class="panel-container dark-container">
    <content-selector current-content="currentTerm" contents="terms"></content-selector>
</div>
<div class="panel-container light-container">
    <div class="row" align="center">
        <font size="30">
            This location is deprecated. Please visit <a href="https://legacy.gitbook.com/@jeffreyfei/dashboard">here</a> for classnotes.
        </font>
    </div>
    <br><br><br>
    <div class="row" align="center">
        <btn-row active="currentSubject" btns="subjects"></btn-row>
    </div>
    <div class="container">
    <br><hr><br>
    <uib-progressbar ng-show="loading" class="loading-progress progress-striped active" animate="true" value="100">Loading</uib-progressbar>
        <note-brief ng-repeat="note in notes | filter: {page:currentPage}| orderBy : 'timestamp' : true" header="note.header" date="note.date"></note-brief>
    </div>
    <div class="row" align="center">
        <ul uib-pagination total-items="noteNum" ng-show="noteNum > itemsPerPage" ng-model="currentPage" items-per-page="itemsPerPage" boundary-link-numbers"true" rotate="false"></ul>
    </div>
</div>
<page-footer links="['Home', 'Projects']"></page-footer>
